In [1]:
import pandas as pd
import numpy as np

# 读取数据

In [2]:
strategy = pd.read_csv('strategy.csv')
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [3]:
triggered = pd.read_csv('triggered.csv')
triggered.head()

,tick,price,success,trigger_date,has_strategy,strategy_date,has_rate,rate,raise_cash,cash_level
0,MSFT,214.97,0.0,2020-12-03,1,2020-12-02,1,12.0,0,0.0
1,GRBK,21.88,1.0,2020-12-03,1,2020-12-02,1,19.0,0,0.0
2,BLL,94.50,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
3,MSI,171.24,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
4,EL,246.78,1.0,2020-12-08,1,2020-12-07,1,18.0,0,0.0

# 触发率

In [4]:
len(triggered['tick']) / len(strategy['tick'])

0.375

# 成功率

In [5]:
triggered['success'].value_counts() / len(triggered['success'])

0.0    0.641026
1.0    0.307692
Name: success, dtype: float64

# triggered：有无提示 vs 结果

In [6]:
triggered[['success', 'has_strategy']].value_counts() / len(triggered)

success  has_strategy
0.0      1               0.487179
1.0      1               0.282051
0.0      0               0.153846
1.0      0               0.025641
dtype: float64

# triggered：股价 vs 结果

In [7]:
temp = triggered.copy()
f = lambda x: 0 if x < 50 else 1
temp['price'] = temp['price'].map(f)
temp[['price', 'success']].value_counts() / len(temp)

price  success
1      0.0        0.410256
       1.0        0.230769
0      0.0        0.230769
       1.0        0.076923
dtype: float64

# triggered：股价 vs 结果，有/无 提示

In [8]:
has_temp = temp[temp['has_strategy'] == 1]
has_temp[['price', 'success']].value_counts() / len(has_temp)

price  success
1      0.0        0.34375
       1.0        0.28125
0      0.0        0.25000
       1.0        0.06250
dtype: float64

In [9]:
no_temp = temp[temp['has_strategy'] == 0]
no_temp[['price', 'success']].value_counts() / len(no_temp)

price  success
1      0.0        0.714286
0      1.0        0.142857
       0.0        0.142857
dtype: float64

# triggered：推荐指数 vs 结果

In [10]:
temp = triggered.copy()
temp = temp[temp['has_rate'] == 1]
f = lambda x: 0 if x < 18 else 1
temp['rate'] = temp['rate'].map(f)
temp[['rate', 'success']].value_counts() / len(temp)

rate  success
0     0.0        0.37500
1     1.0        0.25000
      0.0        0.21875
0     1.0        0.09375
dtype: float64

# 计算RRR

In [11]:
strategy['risk'] = round((1 - strategy['stop'] / strategy['entry'])*100, 2)
strategy['reward'] = round((strategy['target'] / strategy['entry'] - 1)*100, 2)
strategy['rrr'] = round(strategy['reward'] / strategy['risk'], 2)
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [12]:
strategy.to_csv('strategy.csv', index=False)

In [13]:
strategy['risk'].describe()

count    104.000000
mean       2.722788
std        1.609002
min        0.550000
25%        1.607500
50%        2.160000
75%        3.450000
max        7.500000
Name: risk, dtype: float64

In [14]:
strategy['reward'].describe()

count    104.000000
mean      15.604904
std       10.279226
min        2.040000
25%        8.552500
50%       12.910000
75%       19.527500
max       59.780000
Name: reward, dtype: float64

In [15]:
strategy['rrr'].describe()

count    104.000000
mean       5.880673
std        1.778709
min        2.460000
25%        4.400000
50%        5.795000
75%        7.862500
max        8.020000
Name: rrr, dtype: float64

# rate统计

In [16]:
strategy['rate'].describe()

count    104.000000
mean      17.355769
std        3.782736
min       10.000000
25%       14.000000
50%       18.000000
75%       20.000000
max       26.000000
Name: rate, dtype: float64

In [17]:
triggered[triggered['success'] == 1]['rate'].describe()

count    11.000000
mean     18.363636
std       2.975659
min      12.000000
25%      17.500000
50%      19.000000
75%      20.000000
max      22.000000
Name: rate, dtype: float64

# tick出现频率排序

In [18]:
import collections
print(sorted(collections.Counter(strategy['tick']).items(), key=lambda x:x[1], reverse=True))
print(sorted(collections.Counter(triggered['tick']).items(), key=lambda x:x[1], reverse=True))

[('SE', 6), ('SPOT', 6), ('COUP', 4), ('STNE', 4), ('MSI', 3), ('IP', 3), ('DKNG', 3), ('GDS', 3), ('SQ', 3), ('AES', 2), ('BLL', 2), ('JD', 2), ('EL', 2), ('WMT', 2), ('AVTR', 2), ('NOW', 2), ('PINS', 2), ('TEAM', 2), ('STX', 2), ('MU', 2), ('WRK', 2), ('NUAN', 2), ('UBER', 2), ('ROKU', 2), ('AAPL', 2), ('GRBK', 1), ('MSFT', 1), ('TCOM', 1), ('ROK', 1), ('BF.B', 1), ('LILAK', 1), ('UNH', 1), ('FTCH', 1), ('CC', 1), ('A', 1), ('MELI', 1), ('HHC', 1), ('LULU', 1), ('APG', 1), ('FISV', 1), ('ATUS', 1), ('AER', 1), ('SMAR', 1), ('XRX', 1), ('DELL', 1), ('VFC', 1), ('SHOP', 1), ('NET', 1), ('UAA', 1), ('OKTA', 1), ('LB', 1), ('FOXA', 1), ('DOCU', 1), ('LW', 1), ('PENN', 1), ('PD', 1), ('REZI', 1), ('RF', 1), ('BIDU', 1), ('PSTG', 1), ('NFLX', 1), ('NIO', 1)]
[('LILAK', 2), ('COUP', 2), ('MU', 2), ('MSFT', 1), ('GRBK', 1), ('BLL', 1), ('MSI', 1), ('EL', 1), ('STNE', 1), ('FITB', 1), ('CHTR', 1), ('CSX', 1), ('FTCH', 1), ('NOW', 1), ('IP', 1), ('STX', 1), ('WRK', 1), ('SQ', 1), ('SE', 1), ('HHC', 1), ('APG', 1), ('LULU', 1), ('TEAM', 1), ('AER', 1), ('DELL', 1), ('NET', 1), ('SHOP', 1), ('OKTA', 1), ('UAA', 1), ('LW', 1), ('SPOT', 1), ('LB', 1), ('REZI', 1), ('PENN', 1), ('PD', 1), ('RF', 1)]

In [19]:
strategy.tail(5)

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
99,2021-01-29,SE,248.35,218.12,211.25,23,1,1,1.0,3.15,13.86,4.40,1,0.8
100,2021-01-29,PSTG,26.42,23.14,22.73,21,1,0,0.0,1.77,14.17,8.01,1,0.8
101,2021-01-29,GDS,142.62,105.98,101.40,18,1,1,1.0,4.32,34.57,8.00,1,0.8
102,2021-01-29,NFLX,614.55,539.99,530.18,17,0,1,1.0,1.82,13.81,7.59,1,0.8
103,2021-01-29,NIO,70.63,58.17,56.44,17,0,0,0.0,2.97,21.42,7.21,1,0.8