In [1]:
import pandas as pd
import numpy as np

# 读取数据

In [2]:
strategy = pd.read_csv('strategy.csv')
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [3]:
triggered = pd.read_csv('triggered.csv')
triggered.head()

,tick,price,success,trigger_date,has_strategy,strategy_date,has_rate,rate,raise_cash,cash_level
0,MSFT,214.97,0.0,2020-12-03,1,2020-12-02,1,12.0,0,0.0
1,GRBK,21.88,1.0,2020-12-03,1,2020-12-02,1,19.0,0,0.0
2,BLL,94.50,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
3,MSI,171.24,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
4,EL,246.78,1.0,2020-12-08,1,2020-12-07,1,18.0,0,0.0

# 触发率

In [4]:
len(triggered['tick']) / len(strategy['tick'])

0.34831460674157305

# triggered：有无提示 vs 结果

In [5]:
triggered[['success', 'has_strategy']].value_counts() / len(triggered)

success  has_strategy
0.0      1               0.387097
1.0      1               0.322581
0.0      0               0.193548
1.0      0               0.032258
dtype: float64

# triggered：股价 vs 结果

In [6]:
temp = triggered.copy()
f = lambda x: 0 if x < 50 else 1
temp['price'] = temp['price'].map(f)
temp[['price', 'success']].value_counts() / len(temp)

price  success
1      0.0        0.387097
       1.0        0.258065
0      0.0        0.193548
       1.0        0.096774
dtype: float64

# triggered：股价 vs 结果，有/无 提示

In [7]:
has_temp = temp[temp['has_strategy'] == 1]
has_temp[['price', 'success']].value_counts() / len(has_temp)

price  success
1      1.0        0.333333
       0.0        0.291667
0      0.0        0.208333
       1.0        0.083333
dtype: float64

In [8]:
no_temp = temp[temp['has_strategy'] == 0]
no_temp[['price', 'success']].value_counts() / len(no_temp)

price  success
1      0.0        0.714286
0      1.0        0.142857
       0.0        0.142857
dtype: float64

# triggered：推荐指数 vs 结果

In [9]:
temp = triggered.copy()
temp = temp[temp['has_rate'] == 1]
f = lambda x: 0 if x < 18 else 1
temp['rate'] = temp['rate'].map(f)
temp[['rate', 'success']].value_counts() / len(temp)

rate  success
1     1.0        0.333333
0     0.0        0.333333
1     0.0        0.166667
0     1.0        0.083333
dtype: float64

# 计算RRR

In [10]:
strategy['risk'] = round((1 - strategy['stop'] / strategy['entry'])*100, 2)
strategy['reward'] = round((strategy['target'] / strategy['entry'] - 1)*100, 2)
strategy['rrr'] = round(strategy['reward'] / strategy['risk'], 2)
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [11]:
strategy.to_csv('strategy.csv', index=False)

In [12]:
strategy['risk'].describe()

count    89.000000
mean      2.454494
std       1.376381
min       0.550000
25%       1.520000
50%       2.100000
75%       3.140000
max       7.500000
Name: risk, dtype: float64

In [13]:
strategy['reward'].describe()

count    89.000000
mean     13.922022
std       8.654475
min       2.040000
25%       7.970000
50%      11.950000
75%      17.410000
max      51.660000
Name: reward, dtype: float64

In [14]:
strategy['rrr'].describe()

count    89.000000
mean      5.818764
std       1.755601
min       2.460000
25%       4.400000
50%       5.590000
75%       7.810000
max       8.020000
Name: rrr, dtype: float64

# rate统计

In [15]:
strategy['rate'].describe()

count    89.000000
mean     17.134831
std       3.802484
min      10.000000
25%      14.000000
50%      18.000000
75%      20.000000
max      26.000000
Name: rate, dtype: float64

In [16]:
triggered[triggered['success'] == 1]['rate'].describe()

count    10.000000
mean     18.500000
std       3.100179
min      12.000000
25%      18.000000
50%      19.000000
75%      20.500000
max      22.000000
Name: rate, dtype: float64

# tick出现频率排序

In [17]:
import collections
print(sorted(collections.Counter(strategy['tick']).items(), key=lambda x:x[1], reverse=True))
print(sorted(collections.Counter(triggered['tick']).items(), key=lambda x:x[1], reverse=True))

[('SPOT', 6), ('SE', 4), ('COUP', 4), ('STNE', 4), ('MSI', 3), ('IP', 3), ('SQ', 3), ('AES', 2), ('BLL', 2), ('JD', 2), ('EL', 2), ('DKNG', 2), ('WMT', 2), ('AVTR', 2), ('NOW', 2), ('PINS', 2), ('TEAM', 2), ('STX', 2), ('WRK', 2), ('NUAN', 2), ('UBER', 2), ('AAPL', 2), ('GRBK', 1), ('MSFT', 1), ('TCOM', 1), ('ROK', 1), ('BF.B', 1), ('LILAK', 1), ('UNH', 1), ('FTCH', 1), ('MU', 1), ('GDS', 1), ('CC', 1), ('A', 1), ('MELI', 1), ('HHC', 1), ('ROKU', 1), ('LULU', 1), ('APG', 1), ('FISV', 1), ('ATUS', 1), ('AER', 1), ('SMAR', 1), ('XRX', 1), ('DELL', 1), ('VFC', 1), ('SHOP', 1), ('NET', 1), ('UAA', 1), ('OKTA', 1), ('LB', 1), ('FOXA', 1), ('DOCU', 1), ('LW', 1)]
[('LILAK', 2), ('COUP', 2), ('MSFT', 1), ('GRBK', 1), ('BLL', 1), ('MSI', 1), ('EL', 1), ('STNE', 1), ('FITB', 1), ('CHTR', 1), ('CSX', 1), ('FTCH', 1), ('MU', 1), ('NOW', 1), ('IP', 1), ('STX', 1), ('WRK', 1), ('SQ', 1), ('SE', 1), ('HHC', 1), ('APG', 1), ('LULU', 1), ('TEAM', 1), ('AER', 1), ('DELL', 1), ('NET', 1), ('SHOP', 1), ('OKTA', 1), ('UAA', 1)]

In [18]:
strategy.tail(5)

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
84,2021-01-25,SPOT,410.09,336.79,326.66,20,0,0,0.0,3.01,21.76,7.23,0,0.0
85,2021-01-25,LB,56.18,43.71,40.43,16,0,0,0.0,7.50,28.53,3.80,0,0.0
86,2021-01-25,FOXA,38.55,31.53,30.18,15,1,0,0.0,4.28,22.26,5.20,0,0.0
87,2021-01-25,DOCU,298.46,248.12,236.68,13,1,1,1.0,4.61,20.29,4.40,0,0.0
88,2021-01-25,LW,87.29,77.78,76.14,12,1,1,1.0,2.11,12.23,5.80,0,0.0