In [1]:
import pandas as pd
import numpy as np

# 读取数据

In [2]:
strategy = pd.read_csv('strategy.csv')
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [3]:
triggered = pd.read_csv('triggered.csv')
triggered.head()

,tick,price,success,trigger_date,has_strategy,strategy_date,has_rate,rate,raise_cash,cash_level
0,MSFT,214.97,0.0,2020-12-03,1,2020-12-02,1,12.0,0,0.0
1,GRBK,21.88,1.0,2020-12-03,1,2020-12-02,1,19.0,0,0.0
2,BLL,94.50,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
3,MSI,171.24,0.0,2020-12-07,0,NaN,0,NaN,0,0.0
4,EL,246.78,1.0,2020-12-08,1,2020-12-07,1,18.0,0,0.0

# 触发率

In [4]:
len(triggered['tick']) / len(strategy['tick'])

0.36923076923076925

# 成功率

In [5]:
triggered['success'].value_counts() / len(triggered['success'])

0.0    0.604167
1.0    0.354167
Name: success, dtype: float64

# triggered：有无提示 vs 结果

In [6]:
triggered[['success', 'has_strategy']].value_counts() / len(triggered)

success  has_strategy
0.0      1               0.479167
1.0      1               0.333333
0.0      0               0.125000
1.0      0               0.020833
dtype: float64

# triggered：股价 vs 结果

In [7]:
temp = triggered.copy()
f = lambda x: 0 if x < 50 else 1
temp['price'] = temp['price'].map(f)
temp[['price', 'success']].value_counts() / len(temp)

price  success
1      0.0        0.416667
       1.0        0.250000
0      0.0        0.187500
       1.0        0.104167
dtype: float64

# triggered：股价 vs 结果，有/无 提示

In [8]:
has_temp = temp[temp['has_strategy'] == 1]
has_temp[['price', 'success']].value_counts() / len(has_temp)

price  success
1      0.0        0.365854
       1.0        0.292683
0      0.0        0.195122
       1.0        0.097561
dtype: float64

In [9]:
no_temp = temp[temp['has_strategy'] == 0]
no_temp[['price', 'success']].value_counts() / len(no_temp)

price  success
1      0.0        0.714286
0      1.0        0.142857
       0.0        0.142857
dtype: float64

# triggered：推荐指数 vs 结果

In [10]:
temp = triggered.copy()
temp = temp[temp['has_rate'] == 1]
f = lambda x: 0 if x < 18 else 1
temp['rate'] = temp['rate'].map(f)
temp[['rate', 'success']].value_counts() / len(temp)

rate  success
0     0.0        0.365854
1     1.0        0.268293
      0.0        0.195122
0     1.0        0.121951
dtype: float64

# 计算RRR

In [11]:
strategy['risk'] = round((1 - strategy['stop'] / strategy['entry'])*100, 2)
strategy['reward'] = round((strategy['target'] / strategy['entry'] - 1)*100, 2)
strategy['rrr'] = round(strategy['reward'] / strategy['risk'], 2)
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0,3.73,17.17,4.60,0,0.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0,4.09,23.74,5.80,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0,1.89,10.21,5.40,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0,0.91,5.08,5.58,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0,1.60,8.65,5.41,0,0.0

In [12]:
strategy.to_csv('strategy.csv', index=False)

In [13]:
strategy['risk'].describe()

count    130.000000
mean       2.696000
std        1.542906
min        0.550000
25%        1.610000
50%        2.160000
75%        3.417500
max        7.500000
Name: risk, dtype: float64

In [14]:
strategy['reward'].describe()

count    130.000000
mean      15.311077
std        9.844603
min        2.040000
25%        8.530000
50%       12.630000
75%       17.707500
max       59.780000
Name: reward, dtype: float64

In [15]:
strategy['rrr'].describe()

count    130.000000
mean       5.837308
std        1.752777
min        2.460000
25%        4.400000
50%        5.615000
75%        7.807500
max        8.020000
Name: rrr, dtype: float64

# rate统计

In [16]:
strategy['rate'].describe()

count    130.000000
mean      17.130769
std        3.702897
min       10.000000
25%       14.000000
50%       17.000000
75%       20.000000
max       26.000000
Name: rate, dtype: float64

In [17]:
triggered[triggered['success'] == 1]['rate'].describe()

count    16.000000
mean     18.437500
std       3.365883
min      12.000000
25%      16.500000
50%      18.500000
75%      21.000000
max      25.000000
Name: rate, dtype: float64

# tick出现频率排序

In [18]:
import collections
print(sorted(collections.Counter(strategy['tick']).items(), key=lambda x:x[1], reverse=True))
print(sorted(collections.Counter(triggered['tick']).items(), key=lambda x:x[1], reverse=True))

[('SE', 6), ('SPOT', 6), ('COUP', 4), ('STNE', 4), ('MSI', 3), ('IP', 3), ('DKNG', 3), ('NOW', 3), ('GDS', 3), ('SQ', 3), ('AAPL', 3), ('KSU', 3), ('AES', 2), ('BLL', 2), ('JD', 2), ('EL', 2), ('WMT', 2), ('AVTR', 2), ('PINS', 2), ('TEAM', 2), ('STX', 2), ('MU', 2), ('WRK', 2), ('NUAN', 2), ('UBER', 2), ('ROKU', 2), ('PENN', 2), ('NIO', 2), ('HCA', 2), ('MMM', 2), ('GM', 2), ('DFS', 2), ('GRBK', 1), ('MSFT', 1), ('TCOM', 1), ('ROK', 1), ('BF.B', 1), ('LILAK', 1), ('UNH', 1), ('FTCH', 1), ('CC', 1), ('A', 1), ('MELI', 1), ('HHC', 1), ('LULU', 1), ('APG', 1), ('FISV', 1), ('ATUS', 1), ('AER', 1), ('SMAR', 1), ('XRX', 1), ('DELL', 1), ('VFC', 1), ('SHOP', 1), ('NET', 1), ('UAA', 1), ('OKTA', 1), ('LB', 1), ('FOXA', 1), ('DOCU', 1), ('LW', 1), ('PD', 1), ('REZI', 1), ('RF', 1), ('BIDU', 1), ('PSTG', 1), ('NFLX', 1), ('JCI', 1), ('MCD', 1), ('CF', 1), ('TT', 1), ('AMZN', 1), ('LEN', 1), ('AME', 1), ('DIS', 1), ('BHF', 1), ('MOS', 1), ('BWA', 1)]
[('LILAK', 2), ('COUP', 2), ('MU', 2), ('PENN', 2), ('MSFT', 1), ('GRBK', 1), ('BLL', 1), ('MSI', 1), ('EL', 1), ('STNE', 1), ('FITB', 1), ('CHTR', 1), ('CSX', 1), ('FTCH', 1), ('NOW', 1), ('IP', 1), ('STX', 1), ('WRK', 1), ('SQ', 1), ('SE', 1), ('HHC', 1), ('APG', 1), ('LULU', 1), ('TEAM', 1), ('AER', 1), ('DELL', 1), ('NET', 1), ('SHOP', 1), ('OKTA', 1), ('UAA', 1), ('LW', 1), ('SPOT', 1), ('LB', 1), ('REZI', 1), ('PD', 1), ('RF', 1), ('GDS', 1), ('PSTG', 1), ('JCI', 1), ('AAPL', 1), ('AMZN', 1), ('TT', 1), ('MMM', 1), ('DIS', 1)]

In [19]:
strategy.tail(3)

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy,risk,reward,rrr,raise_cash,cash_level
127,2021-02-23,BHF,49.18,40.89,39.41,25,1,1,1.0,3.62,20.27,5.6,0,0.0
128,2021-02-23,MOS,34.69,29.51,27.89,14,1,1,1.0,5.49,17.55,3.2,0,0.0
129,2021-02-23,BWA,49.17,44.25,43.02,13,1,1,1.0,2.78,11.12,4.0,0,0.0