In [1]:
import pandas as pd
import numpy as np

In [2]:
strategy = pd.read_csv('strategy.csv')
strategy.head()

,date,tick,target,entry,stop,rate,entry_strategy,stop_strategy,trail_strategy
0,2020-12-02,SE,212.52,181.38,174.61,25,0,1,1.0
1,2020-12-02,GRBK,26.90,21.74,20.85,19,0,0,0.0
2,2020-12-02,AES,22.77,20.66,20.27,13,0,0,0.0
3,2020-12-02,MSFT,225.67,214.75,212.80,12,1,0,0.0
4,2020-12-02,BLL,103.15,94.94,93.42,12,1,0,0.0

In [3]:
triggered = pd.read_csv('triggered.csv')
triggered.head()

   tick   price  success trigger_date  has_strategy strategy_date
0  MSFT  214.97        0   2020-12-03             1    2020-12-02
1  GRBK   21.88        1   2020-12-03             1    2020-12-02
2   BLL   94.50        0   2020-12-07             0           NaN
3   MSI  171.24        0   2020-12-07             0           NaN
4    EL  246.78        1   2020-12-08             1    2020-12-07

In [4]:
triggered[['success', 'has_strategy']].value_counts() / len(triggered)

success  has_strategy
0        1               0.416667
1        1               0.291667
0        0               0.250000
1        0               0.041667
dtype: float64

In [12]:
temp = triggered.copy()
f = lambda x: 0 if x < 50 else 1
temp['price'] = temp['price'].map(f)
temp[['price', 'success', 'has_strategy']].value_counts() / len(temp)

price  success  has_strategy
1      1        1               0.250000
       0        1               0.208333
                0               0.208333
0      0        1               0.208333
       1        1               0.041667
                0               0.041667
       0        0               0.041667
dtype: float64

In [14]:
has_temp = temp[temp['has_strategy'] == 1]
has_temp[['price', 'success']].value_counts() / len(has_temp)

price  success
1      1          0.352941
       0          0.294118
0      0          0.294118
       1          0.058824
dtype: float64

In [15]:
no_temp = temp[temp['has_strategy'] == 0]
no_temp[['price', 'success']].value_counts() / len(no_temp)

price  success
1      0          0.714286
0      1          0.142857
       0          0.142857
dtype: float64